%h2 About Us

%p The Birchmount Robotics Club is the robotics club of Birchmount Park Collegiate Institute in Scarborough, ON. Our members are experienced in various fields, such as computer-aided design, programming, and problem-solving.

%h2 Our Members

.container
  .row
    = person_description("Tyler", "Tyler is a hard worker, and has a special ability to design ")
    = person_description("Aseer", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")

    
  .row
    = person_description("Wesley", "Wesley can effectively solve programming problems, and come up with creative solutions to problems encountered. With previous experience in programming, Wesley is a great choice for lead of programming.")
    = person_description("Colin", "A great builder, designer, and driver, Colin is a valuable member of the team as he can look at the design process as a whole, from the drivetrain to driving on the field.")


  .row
    = person_description("Rohan", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
    = person_description("Wadid", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")


  .row
    = person_description("Parthib", "Parthib is a brilliant student who can find flaws in designs that nobody else even thought about. ")
    = person_description("Turhan", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
    