%h2 About Us

%p The Birchmount Robotics Club is the robotics club of Birchmount Park Collegiate Institute in Scarborough, ON. Our members are experienced in various fields, such as computer-aided design and programming. Our club is completely <b>student-run</b>, and everything is managed by the members of the club.

%p Our club is mostly comprised of students in the gifted program. This year, our new members are already proving very helpful. With our new motivation, as well as our previous experience, we are excited to compete at the competitions.

%h2 Our Members

.container
  .row
    = person_description("Tyler", "Tyler has a special ability to design effective and modular robots for a given problem. He has a unique design philosophy, emphasizing the importance of disassembly in the design process. Thanks to his ideas, we are able to rapidly iterate the drivetrain and subsystems of the robot.")

    = person_description("Aseer", "Aseer has experience in creating projects in C and Python, and has a good understanding of kinematics. He works on various jobs in robotics, on top of working on the robot. He understands what robotics needs to be successful, and has previous leadership experience on group projects.")

    
  .row
    = person_description("Wesley", "Wesley can effectively solve programming problems, and come up with creative solutions to problems encountered. He has an intuitive sense for how the programs work, and previous experience with programming. He is our most active programmer, able to quickly write code that is simply intuitive to the driver.")

    = person_description("Colin", "A great builder, designer, and driver, Colin is the all-rounder of the team, able to do every step of creating a robot, from CAD to building. He can quickly learn how to improve the robot by learning from others. As both a driver and a designer, he understands how the robot should be built.")


  .row
    = person_description("Rohan", "Rohan excels at debugging code. Wesley and him are able to write code to keep up with quickly changing requirements. They are also able to quickly pick up new concepts while programming. Rohan was also very helpful during the building process, able to quickly construct complex subsystems on the robot.")

    = person_description("Turhan", "Turhan looks at problems in a practical way, able to understand a design on a deep level. He truly understands what works and what doesn't. When he looks at the game rules, he sees a winning strategy. He is also able to work with others well, as he is good at communication.")

%h3 Other members

.container
  %h4.row.col Parthib - Driver
  %h4.row.col Wadid - Driver
  %h4.row.col [NEW] Michael - Builder
  %h4.row.col [NEW] Tirtho - Builder
