%h2 About Us

%p The Birchmount Robotics Club is the robotics club of Birchmount Park Collegiate Institute in Scarborough, ON. Our members are experienced in various fields, such as computer-aided design and programming.

%h2 Our Members

.container
  .row
    = person_description("Tyler", "Tyler has a special ability to design effective and modular robots for a given problem. He has a unique design philosophy, emphasizing the importance of disassembly in the design process.")

    = person_description("Aseer", "Aseer cares about the success of the club, working on outreach and organization, as well as the robot. He has a deep understanding of the inner workings of the computer, and has wrote in various paradigms, from C to Python.")

    
  .row
    = person_description("Wesley", "Wesley can effectively solve programming problems, and come up with creative solutions to problems encountered. He has an intuitive sense for how the programs work, and previous experience with programming.")

    = person_description("Colin", "A great builder, designer, and driver, Colin is the all-rounder of the team, able to do every step of creating a robot, from CAD to building. He can quickly learn how to improve the robot by learning from others.")


  .row
    = person_description("Parthib", "Parthib is a brilliant member of the team who can find flaws in designs that others would never have seen. He has a wide range of experience with programming and Linux, working on various projects.")

    = person_description("Turhan", "Turhan looks at problems in a practical way, able to understand a design on a deep level. He truly understands what works and what doesn't. When he looks at the game rules, he sees a winning strategy.")


  .row
    = person_description("Rohan", "Rohan excels at debugging code. Wesley and him are able to write code to keep up with quickly changing requirements. They are also able to quickly pick up new concepts while programming.")