%h2 About Us

%p The Birchmount Robotics Club is the robotics club of Birchmount Park Collegiate Institute in Scarborough, ON. Our members are experienced in various fields, such as computer-aided design and programming. Our club is completely <b>student-run</b>, and everything is managed by the students of the club.

%h2 Our Members

.container
  .row
    = person_description("Tyler", "Tyler has a special ability to design effective and modular robots for a given problem. He has a unique design philosophy, emphasizing the importance of disassembly in the design process. Thanks to his ideas, we are able to rapidly iterate the drivetrain and subsystems of the robot.")

    = person_description("Aseer", "Aseer cares about the success of the club, working on outreach and organization, as well as the robot. He has a deep understanding of the inner workings of the computer, and has wrote various programs in languages in C and Python.")

    
  .row
    = person_description("Wesley", "Wesley can effectively solve programming problems, and come up with creative solutions to problems encountered. He has an intuitive sense for how the programs work, and previous experience with programming.")

    = person_description("Colin", "A great builder, designer, and driver, Colin is the all-rounder of the team, able to do every step of creating a robot, from CAD to building. He can quickly learn how to improve the robot by learning from others.")


  .row
    = person_description("Rohan", "Rohan excels at debugging code. Wesley and him are able to write code to keep up with quickly changing requirements. They are also able to quickly pick up new concepts while programming. Rohan was also very helpful during the building process, able to quickly construct complex subsystems on the robot.")

    = person_description("Turhan", "Turhan looks at problems in a practical way, able to understand a design on a deep level. He truly understands what works and what doesn't. When he looks at the game rules, he sees a winning strategy.")